/*background of the whole page */
body {
  background: url();
  background-color: #9f9da7;
  background-size: 100%;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}
p {
  position: relative;
}
/*for login icon */
a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* when you hover on the login icon */
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*background of the sign up page */
#signup-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.2);
  background: transparent;
}

#signup-form {
  padding: 0 60px;
}
/*input inside the box */
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

.background-clip {
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navigation */
/* nav{
  float: right;
  margin: 0;
  overflow:hidden;
  text-align: center;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a{
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
} */

.web-name{
  color: #fff;
  line-height: 2em;
  text-decoration: none;
}

.logo-img{
  float: left;
  position: relative;
  margin: 15px 10px 15px 10px;
  margin-top: 5px;
}

.bg-div{
 background:#333;
 overflow: hidden;
 height: 50px;
}

body{
  margin: auto;
}